@import 'susy';
@import 'base_layout';
@import "compass/css3";

$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 10px;

$app_min_height: 600px;

.container {
  @include container;
}

.surveys_list {
  @include span-columns(12, 12);
}

.survey {
  background: $e;
  padding: 7px;
  margin-top: 20px;
  li {
    a {
      i {
        margin-right: 3px;
        font-size: 1.1em;
        color: $c;
      }
      font-size: 1.1em;
      display: inline;
      padding-left: 5px;
      text-decoration: none;
      color: $a;
    }
  }
}

.name {
  color: $a;
  font-weight: bold;
}
.status {
  font-size: 1.5em;
  float: right;
}