@import 'susy';
@import 'base_layout';
@import "compass/css3";

$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 10px;

$app_min_height: 600px;

@import url(http://fonts.googleapis.com/css?family=Dosis:600|Abel|PT+Sans:400italic&subset=latin,latin-ext);

.container {
  @include container;
}

.surveys_list {
  @include span-columns(12, 12);
}


.survey {
  background: $e;
  padding: 10px 15px;
  margin-top: 5px;
  font-family: 'Abel', sans-serif;

  .organization_name {
    color: lighten($d, 30%);
    margin-left: 5px;
    font-size: 0.9em;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
  }

  .cso_admin_operations {
    display: none;
    float: right;
  }

  .description {
    margin: 15px 25px;
    text-align: justify;
  }

  .name {
    display: inline;
    font-size: 1.8em;
    font-family: 'Dosis', sans-serif;
  }
  .response_operations {
    display: inline;
  }

  &:hover .cso_admin_operations, &.hover .cso_admin_operations { display: inline; }
  .operations {
    li {
      display: inline;
      a {
        i {
          margin-right: 3px;
          font-size: 1.1em;
          color: $c;
          text-decoration: none !important;
        }
        &:hover {
          color: lighten($a, 20%);
          text-decoration: underline;
        }
        color: $a;
        font-family: 'Dosis', sans-serif;
        font-size: 0.9em;
        display: inline;
        padding-left: 5px;
        text-decoration: none;
      }
    }
  }
}

.name {
  color: $a;
  font-weight: bold;
}
.status {
  font-size: 0.9em;
  color: lighten($b, 20%);
  float: right;
}