@import 'susy';
@import 'base_layout';
@import "compass/css3";

$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 10px;

$app_min_height: 600px;

.container {
  @include container;
}

.surveys_list {
  @include span-columns(12, 12);
}

.survey {
  background: $e;
  padding: 7px;
  margin-top: 20px;

  .cso_admin_operations {
    display: none;
    float: right;
  }

  .response_operations {
    display: inline;
  }

  &:hover .cso_admin_operations, &.hover .cso_admin_operations { display: inline; }
  .operations {
    li {
      display: inline;
      a {
        i {
          margin-right: 3px;
          font-size: 1.1em;
          color: $c;
          text-decoration: none !important;
        }
        &:hover {
          color: lighten($a, 20%);
          text-decoration: underline;
        }
        color: $a;
        font-size: 1.1em;
        display: inline;
        padding-left: 5px;
        text-decoration: none;
      }
    }
  }
}

.name {
  color: $a;
  font-weight: bold;
}
.status {
  font-size: 1.5em;
  float: right;
}